@charset "utf-8";

/* Side */
.side {z-index:120; background:#FFF; position:fixed; top:0; bottom:0; overflow-x:hidden; overflow-y:auto; width:320px; transform:translateX(-100%);}
.side.active, .desktop .side {box-shadow:0 0 16px rgba(0,0,0,0.3); transform:translateX(0);}
.mobile .side {width:100%;}

.side .close {position:absolute; top:0; left:0; padding:14px; width:64px; height:64px;}
.desktop .side .close {display:none;}

.side .profile {padding:24px; text-align:center; font-size:32px;}
.side .profile p {margin:0; line-height:1.5;}
.side .profile .img {border-radius:50%; width:128px; height:auto;}

.side .social {padding:12px; fill:rgba(0,0,0,0.87); line-height:1; justify-content:space-around;}
.side .social svg {width:24px; height:24px;}
.side .social a {max-height:24px; line-height:24px; text-decoration:none;}

.side .list .link {padding:12px; text-decoration:none;}
.side .list .link:hover {background:#EEE;}
.side .list .title {line-height:24px; font-size:18px;}
.side .list .icon {margin-right:12px; width:24px; height:24px; vertical-align:middle;}

.wrap {min-height:100%;}
.desktop .side ~ .wrap {margin-left:320px;}
