@charset "utf-8";

/* Side */
.side {z-index:120; background:#FFF; overflow-x:hidden; overflow-y:auto; width:320px;}
.desktop .side {box-shadow:0 0 16px rgba(0,0,0,0.3);}
.tablet .side, .mobile .side {position:fixed; top:0; bottom:0; transform:translateX(-100%);}
.mobile .side {width:100%;}
.tablet .side.active, .mobile .side.active {box-shadow:0 0 16px rgba(0,0,0,0.3); transform:translateX(0);}

.side .close {position:absolute; top:0; left:0; padding:14px; width:64px; height:64px;}
.desktop .side .close {display:none;}

.side .profile {padding:24px; text-align:center; font-size:32px;}
.side .profile p {margin:0; line-height:1.5;}
.side .profile .img {border-radius:50%; width:128px; height:auto;}
.side .profile .social {display:inline-block; width:32px; height:32px; fill:white; line-height:1;}
.side .profile .social:hover {fill:rgba(255,255,255,.75);}
.side .profile .social svg {width:24px; height:24px;}

.side .list .link {text-decoration:none; padding:16px;}
.side .list .link:hover {background:#EEE;}
.side .list .title {vertical-align:middle; color:rgba(0,0,0,0.87);}
.side .list .icon {margin-right:8px; width:24px; height:auto; vertical-align:middle;}
.mobile .side .list {font-size:18px}
.mobile .side .list .icon {width:32px; height:32px;}

/* Content Wrap */
.desktop .nav .top {transform:translateY(-100%);}

.content {height:100%; overflow-x:hidden; overflow-y:auto;}
.tablet .content, .mobile .content {margin-top:64px; height:calc(100% - 64px);}

.desktop .card, .tablet .card {margin:18px auto; width:640px;}
.mobile .card {width:100%;}
.mobile .card ~ .card{border-top:1px solid #DDD;}
