@charset "utf-8";

html, body, .wrap {margin:0; padding:0; width:100%; height:100%;}

.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.flex {display:-webkit-box; display:-webkit-flex; display:-ms-flex; display:flex;}
.flex.center {align-items:center; justify-content:center;}
.flex.vertical {flex-direction:column;}
.flex-1 {-webkit-flex:1; -ms-flex:1; -moz-flex:1; flex:1;}
.animate {transition:transform 200ms;}

/* Side */
.side {z-index:120; background:#FFF; overflow-x:hidden; overflow-y:auto; width:320px;}
.desktop .side {border-right:1px solid rgba(0,0,0,0.12);}
.tablet .side, .mobile .side {position:fixed; top:0; bottom:0; box-shadow:0 0 16px rgba(0,0,0,0.3); transform:translateX(-100%);}
.mobile .side {width:100%;}
.tablet .side.active, .mobile .side.active {transform:translateX(0);}

.side .hr {border:none; border-bottom:1px solid rgba(0,0,0,0.12); box-sizing:border-box;}
.side .item {display:block; padding:0 12px;}

.side .title {background:#2196F3; padding:16px; text-align:center; font-size:32px;}
.side .title .link {color:white;}
.side .title .profile {border-radius:50%; width:128px; height:auto;}
.side .title .ext {display:inline-block; width:32px; height:32px; fill:white; line-height:1;}
.side .title .ext:hover {fill:rgba(255,255,255,.75);}
.side .title .ext svg {width:24px; height:24px;}

/* Content Wrap */
.wrap {background:#EEE; overflow-x:hidden; overflow-y:auto;}

.nav {position:fixed; top:0; background:#2196F3; width:100%; height:64px;}
.nav .menu {position:absolute; top:0; left:0; padding:14px; width:64px; height:64px; box-sizing:border-box;}
.nav .menu .button {display:block; padding:6px; width:36px; height:36px; box-sizing:border-box;}
.nav .menu .button svg {fill:white; width:24px; height:24px;}

.content {padding-top:64px;}

.card {background:#FFF; padding:18px; box-sizing:border-box;}
.desktop .card {margin:18px auto; padding:18px; width:640px; border-radius:2px; box-shadow:0 1px 2px rgba(0,0,0,0.3);}
.tablet .card, .mobile .card {width:100%;}
.tablet .card ~ .card, .mobile .card ~ .card{border-top:1px solid #DDD;}
