---
layout: "base"
title: "OPNay's Lab"
---
<section id="profile" class="card center">
    <div class="block">
        <img class="profile" src="/image/profile.png" />
        <div class="name">OPNay</div>
        <div class="social flex">
            {% for social in site.data.social %}
            <a href="{{ social.href }}"><img width="24px" height="24px" src="data:image/svg+xml;base64,{{ social.icon }}" /></a>
            {% endfor %}
        </div>
    </div>
    <hr>
	<div class="block vertical">
		{% for menu in site.data.side_menu %}
		<a class="link ft-black" href="{{ menu.href }}">
			<img class="icon" src="{{ menu.icon }}" alt="{{ menu.name }}" />
			<span class="title">{{ menu.name }}</span>
		</a>
		{% endfor %}
	</div>
    <style>
        #profile {margin:0; width:320px; text-align:center;}
        #profile .block {padding:16px;}
        #profile .profile {display:block; margin:0 auto 16px; width:128px; height:128px; border-radius:50%;}
        #profile .name {margin-bottom:16px; font-size:32px;}
        #profile .social {justify-content:space-around;}
        #profile .social a {display:inline-block; border-radius:50%; padding:8px; width:40px; height:40px; overflow:hidden;}
        #profile .social a:hover {background:#EEE;}

        #profile .link {display:block; padding:8px; text-align:left;}
        #profile .link:hover {background:#EEE; text-decoration:none;}
        #profile .link .icon {margin-right:8px; width:24px; height:24px; vertical-align:middle;}
        #profile .link .title {vertical-align:middle;}
    </style>
</section>
