.blog > .content > .item {
  display: flex;
  padding: 24px 18px;
  width: 100%;
  box-sizing: border-box;

  text-align: left;
}

.blog > .content > .item + .item {
  border-top: 1px solid #ddd;
}

.blog > .content > .item .thumb {
  margin: 0 16px 0 0;
  border-radius: 50%;
  width: 84px;
  height: 84px;
}

.blog > .content > .item > .info {
  flex: 1;
  margin: auto 0;
}

.blog > .content > .item h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}

.blog > .content > .item span {
  font-size: 0.8em;
}

.blog > .content > .item .category {
  color: var(--color-primary);
}
