.blog > .content > .button {
  display: block;
  padding: 24px 18px;
  width: 100%;
  text-align: left;
}

.blog > .content > .button + .button {
  border-top: 1px solid #ddd;
}

.blog > .content > .button p {
  margin: 0;
}

.blog > .content > .button span {
  font-size: 0.8em;
}

.blog > .content > .button:hover span {
  text-decoration: none;
}

.blog > .content > .button .category {
  color: var(--color-primary);
}
