body {
  background-color: #f0f1f3;
}

.main-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.main-page::before,
.main-page::after {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: '';
  display: block;
}

.main-page::before {
  background-image: url('/images/debby-hudson-FsrRDNVBS2Y-unsplash.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(8px);
}

.main-page::after {
  background: rgba(255, 255, 255, 0.36);
}

.main-page .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-page .profile img {
  width: 128px;
  height: 128px;
}

.main-page .profile p {
  margin: 16px 0 0;
  font-weight: bold;
  font-size: 28px;
}

.main-page .desc {
  background: rgba(0, 0, 0, 0.5);
  margin: 16px 0 0;
  border-radius: 8px;
  width: 320px;

  color: white;
  text-align: center;
  line-height: 2;
}

.main-page .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 32px 0 0;
  width: 320px;
}

.main-page .menu .button {
  display: block;
  margin: 6px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 8px;
  width: 100%;

  font-size: 24px;
}
