<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<link rel="alternate" type="application/rss+xml" title="OPNay RSS" href="/feed.xml">
<title>{{ page.title }}</title>

<!-- favicon -->
<link rel="shortcut icon" href="/image/favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/image/favicons/180.png">
<link rel="icon" type="image/png" href="/image/favicons/192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/image/favicons/32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/image/favicons/16.png" sizes="16x16">
<link rel="manifest" href="/image/favicons/manifest.json">
<meta name="msapplication-config" content="/image/favicons/browserconfig.xml">
<meta name="theme-color" content="#60CCEE">

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
