<!DOCTYPE html>
<html class="ft-black">
	<head>
		{% include services/tagmanager.html %}
		{% include html/head.html %}
		<link rel="stylesheet" href="/css/default.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style>
			.bg-p {background:{{ page.md_theme.main }};}
			.bg-p-l {background:{{ page.md_theme.light }};}
			.bg-p-d {background:{{ page.md_theme.dark }};}
		</style>
		<!-- Open Graph-->
		<meta property="og:locale" content="ko_KR">
		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/image/profile.png{% endif %}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		{% if page.layout == "blog" %}
		<meta property="og:type" content="article">
		<meta property="og:description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}">
		<meta property="description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}">
		{% else %}
		<meta property="og:type" content="website">
		<meta property="og:description" content="{{ page.title }}">
		<meta property="description" content="{% if page.layout == 'category' %}{{ page.title }}에 해당하는 글{% else %}{{ site.desc }}{% endif %}">
		{% endif %}
		<!-- Twitter Card -->
		<meta property="twitter:card" content="summary">
		<meta property="twitter:site" content="{{ site.twitter }}">
		<meta property="twitter:creator" content="{{ site.twitter }}">
		<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
		<meta property="twitter:image:src" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/image/profile.png{% endif %}">
		{% if page.layout == "blog" %}
		<meta property="twitter:title" content="{{ page.title }}">
		<meta property="twitter:description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}">
		{% else %}
		<meta property="twitter:title" content="{{ site.title }}">
		<meta property="twitter:description" content="{{ page.title }}">
		{% endif %}

	</head>
	<body>
		{% include loading.html %}
		<script defer src="/js/window.resize.js"></script>
		{% if page.img_background %}{% include img_back.html %}{% endif %}
		{{ content }}
	</body>
</html>
