<!DOCTYPE html>
<html class="ft-black">
	<head>
		{% include html/head.html %}
		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/material.css">

		<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">

		{% include html/jquery.html %}
		<script type="text/javascript" defer src="/js/window.resize.js"></script>
		{% include verification.html %}

		<style>
			.bg-p {background:{{ page.theme.primary.main }};}
			.bg-p-l {background:{{ page.theme.primary.light }};}
			.bg-p-d {background:{{ page.theme.primary.dark }};}
			.bg-s {background:{{ page.theme.secondary.main }};}
			.bg-s-l {background:{{ page.theme.secondary.light }};}
			.bg-s-d {background:{{ page.theme.secondary.dark }};}
		</style>
	</head>
	<body>
		{{ content }}
	</body>
</html>
