<!DOCTYPE html>
<html class="ft-black">
	<head>
		{% include services/tagmanager.html %}
		{% include html/head.html %}
		<link rel="stylesheet" href="/css/material.css">

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		{% include html/jquery.html %}
		{% include verification.html %}

		<style>
			.bg-p {background:{{ page.md_theme.main }};}
			.bg-p-l {background:{{ page.md_theme.light }};}
			.bg-p-d {background:{{ page.md_theme.dark }};}
		</style>
	</head>
	<body>
		{% include loading.html %}
		<script type="text/javascript" src="/js/window.resize.js"></script>
		{% if page.img_background %}{% include img_back.html %}{% endif %}
		{{ content }}
	</body>
</html>
