<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>OPNay's Lab</title>
		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/image/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/image/favicons/192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/image/favicons/32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/image/favicons/16.png" sizes="16x16">
		<link rel="manifest" href="/image/favicons/manifest.json">
		<link rel="mask-icon" href="/image/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/image/favicons/favicon.ico">
		<meta name="msapplication-config" content="/image/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		
		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/material.css">

		<link rel="stylesheet" href="/fonts/notosanskr.css">
		<link rel="stylesheet" href="/fonts/materialicons.css">
		<link rel="stylesheet" href="/fonts/roboto.css">

		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
		{% include verification.html %}
	</head>
	<body class="desktop flex">
		<aside class="side animate">
			<div class="close">
				<a class="button" href="#">{% include icon/arrow-left.svg %}</a>
			</div>
			<div class="profile">
				<p><img class="img" src="/image/profile.jpg"></p>
				<p><a class="link ellipsis" href="/">OPNay</a></p>
				<p>
					{% for social in site.data.social %}
					<a class="link social" href="{{ social.href }}">{% include icon/{{social.icon}} %}</a>
					{% endfor %}
				</p>
			</div>
			<div class="list flex vertical">
				<a class="link" href="http://blog.opnay.com"><img class="icon" src="./image/tistory.svg" alt="Tistory" /><span class="title">블로그</span></a>
				<a class="link" href="#"><img class="icon" src="./image/application.svg" alt="Application" /><span class="title">애플리케이션(준비중)</span></a>
			</div>
		</aside>
		<div class="wrap flex-1">
			<nav class="nav animate">
				<div class="menu"><a class="button" href="#">{% include icon/menu.svg %}</a></div>
				<script>
					(function ($) {
						$button = $('.nav .menu .button, .side .close .button'), $side = $('.side'), activeNav = function (a) {
							$side.toggleClass('active', a);
							$side.hasClass('active') ? (function () {$side.after("<div class=\"cover\"></div>"), $('.cover').click(activeNav);})() : $('.cover').remove();
						};
						$button.click(function () {activeNav(!$side.hasClass('active'));});
					})(jQuery);
				</script>
			</nav>
			<div class="content">{{ content }}</div>
		</div>
		<script>
			(function ($) {
				$body = $('body'), $win = $(window);
				function chkWindow() {
					if (($win.width() >= 1024) && !$body.hasClass('desktop')) {
						console.log('Change Window size to Desktop');
						$body.addClass('desktop').removeClass('tablet mobile');
						$side.hasClass('active') ? activeNav(false) : console.log("Already deactive");
					} else if (($win.width() >= 768) && ($win.width() < 1024) && !$body.hasClass('tablet')) {
						console.log('Change Window size to Tablet');
						$body.addClass('tablet').removeClass('desktop mobile');
					} else if (($win.width() < 768) && !$body.hasClass('mobile')) {
						console.log('Change Window size to Mobile');
						$body.addClass('mobile').removeClass('desktop tablet');
					}
				};
				$win.resize(chkWindow), chkWindow();
			})(jQuery);
		</script>
	</body>
</html>
