---
layout: "base"
---
{% include md/sidebar %}
<div class="wrap bg-gray">
    {% include md/appbar-top %}
	<div class="content">{{ content }}
	<footer class="footer">Icon License - <a href="https://icons8.com">Icons8</a></footer>
	<script>
		(function ($) {
			/* Side Menu */
			$button = $('.nav .menu .button, .side .close .button'), $side = $('.side'), activeNav = function (a) {
				$side.toggleClass('active', a);
				$side.hasClass('active') ? (function () {$side.after("<div class=\"cover\"></div>"), $('.cover').click(activeNav);})() : $('.cover').remove();
			};
			$button.click(function () {activeNav(!$side.hasClass('active'));});

			/* Nav shadow anime */
			$(window).scroll(function () {
				let a = $('.nav .top'), p = $(this).scrollTop();
				if (p > 0 && !a.hasClass('shadow'))
					a.toggleClass('shadow',true);
				else if (p == 0)
					a.toggleClass('shadow',false)
			});
		})(jQuery);
	</script>
</div>
