---
layout: "base"
---
<aside class="side animate">
	<div class="close">
		<a class="button" href="#">{% include icon/arrow-left.svg %}</a>
	</div>
	<div class="profile bg-primary">
		<p><img class="img" src="/image/profile.jpg"></p>
		<p><a class="link ellipsis" href="/">OPNay</a></p>
		<p>
			{% for social in site.data.social %}
			<a class="link social" href="{{ social.href }}">{% include icon/{{social.icon}} %}</a>
			{% endfor %}
		</p>
	</div>
	<div class="list flex vertical">
		{% for menu in site.data.side_menu %}
		<a class="link" href="{{ menu.href }}">
			<img class="icon" src="{{ menu.icon }}" alt="{{ menu.name }}" />
			<span class="title">{{ menu.name }}</span>
		</a>
		{% endfor %}
	</div>
</aside>
<div class="wrap bg-gray flex-1">
	<nav class="nav bg-primary animate">
		<div class="menu"><a class="button" href="#">{% include icon/menu.svg %}</a></div>
	</nav>
	<div class="content">{{ content }}</div>
	<script>
		(function ($) {
			/* Side Menu */
			$button = $('.nav .menu .button, .side .close .button'), $side = $('.side'), activeNav = function (a) {
				$side.toggleClass('active', a);
				$side.hasClass('active') ? (function () {$side.after("<div class=\"cover\"></div>"), $('.cover').click(activeNav);})() : $('.cover').remove();
			};
			$button.click(function () {activeNav(!$side.hasClass('active'));});

			/* Nav shadow anime */
			$('.content').scroll(function () {
				if (this.scrollTop > 0 && !$('.nav').hasClass('shadow'))
					$('.nav').toggleClass('shadow',true);
				else if (this.scrollTop == 0)
					$('.nav').toggleClass('shadow',false)
			});
		})(jQuery);
	</script>
</div>
<style>
</style>
